  <h2>Open PGP Guides & How-To&#39;s</h2>
  <p>Below you will find my list of help files and guides for using PGP on your client and building new key servers.</p>

<h2 id="internal-guides">My Guides</h2>

Coming Soon!

<h2 id="external-guides">Other Guides and Articles</h2>

<h3 id="what-is-pgp-and-why-should-i-use-it">What is PGP and why should I use it?</h3>

<ul>
  <li><a href="https://www.recode.net/2015/5/13/11562598/encrypting-your-email-what-is-pgp-why-is-it-important-and-how-do-i" target="_blank">Encrypting Your Email: What Is PGP? Why Is It Important? And How Do I Use It?</a></li>
  <li><a href="https://medium.freecodecamp.org/how-does-pretty-good-privacy-work-3f5f75ecea97" target="_blank">How Pretty Good Privacy works, and how you can use it for secure communication</a></li>
</ul>

<h3 id="installed-pgp-client-software">Installed PGP Client Software</h3>

<ul>
  <li><a href="http://www.enigmail.net" target="_blank">EnigMail Project</a> client for <a href="https://www.mozilla.org/thunderbird/" target="_blank">Thunderbird</a> (Windows/Mac)</li>
  <li><a href="https://gpgtools.org/" target="_blank">GPG Tools</a> client for Apple Mail</li>
  <li><a href="https://github.com/dejavusecurity/OutlookPrivacyPlugin" target="_blank">Outlook Privacy Plugin</a> client for Microsoft Outlook 2010 &amp; 2013</li>
</ul>

<h3 id="webmail-pgp-clients">Webmail PGP Clients</h3>

<ul>
  <li><a href="https://www.mailvelope.com/en" target="_blank">Mailvelope</a> an extension for Chrome and Firefox webmail clients.</li>
  <li><a href="https://github.com/google/end-to-end" target="_blank">Google: end-to-end</a> a chrome webmail PGP extension (my build of <a href="https://chrome.google.com/webstore/detail/end-to-end/knnhngcdkplmpmlendkfgjlgnemecpdh" target="_blank">End-To-End</a> on the Chrome web store)</li>
</ul>

</div>
